<!doctype html>
<html ng-app="proposalsApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome</title>

    <link rel="stylesheet" href="../css/some_style_sheet.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/proposals-controller.js"></script>
    <script type="text/javascript" src="/js/controllers/proposal-controller.js"></script>
</head>
<body ng-controller="proposalsController">

<div class="top-bar">
    <div class="top-bar-left">
        <h4>Our site</h4>
    </div>
    <div class="top-bar-right">
        <a href="" class="button xbox" ng-show="showNewProposalButton" ng-click="showProposalForm = true">New
            proposal</a>
        <form ng-show="showProposalForm">
            <input type="text" placeholder="Building" ng-model="proposalBuilding"/>
            <input type="text" placeholder="Room" ng-model="proposalRoom"/>
            <input type="text" placeholder="Gender" ng-model="proposalGender"/>
            <input type="text" placeholder="Name" ng-model="proposalName"/>
            <a href="" class="button xbox"
               ng-click="showProposalForm = false; showNewProposalButton = true; createProposal()">Create</a>
        </form>
    </div>
</div>

<div class="info-bar">
    <h2>Looking for transfer ...</h2>
    <hr>
</div>

<div>
    <div class="column" ng-repeat="proposal in proposals">
        <div class="proposal" ng-click="openProposal(proposal)">
            <div class="media-object-section">
                <img class="thumbnail" src="http://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h6>Building: {{proposal.building}}</h6>
                <h6>Room: {{proposal.room}}</h6>
                <h6>Gender: {{proposal.gender}}</h6>
                <h6>Name: {{proposal.name}}</h6>
            </div>
        </div>
    </div>
</div>

</body>
</html>
