<div>
    <div class="modal-header">
        <h3 class="modal-title">Info</h3>
    </div>
    <div class="modal-body">
        <div class="proposal">
            <div class="media-object-section">
                <img class="thumbnail" src="http://placehold.it/100x100">
            </div>
            <div class="media-object-section">
                <h6>Building: {{proposal.building}}</h6>
                <h6>Room: {{proposal.room}}</h6>
                <h6>Gender: {{proposal.gender}}</h6>
                <h6>Name: {{proposal.name}}</h6>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>